.App {
  text-align: left;
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -------------------------- Custom CSS ------------------------------ */

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}

.logostyle{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 100px;
}

/* Container for login */ 
.App > .login-container {
  text-align: center;
  margin: auto auto;
  justify-content: center;
  margin-top: 5%;
}

.App > .getDataList {
  text-align: center;
  margin: auto auto;
  justify-content: center;
  margin-top: 5%;
}

/* Default parent styling for .card-container*/
.card-container{
  display: flex;
  margin-top: 3%;
}

/* Container for user profile card */
.profile-container > .card{
  margin-left: 5%;
  height: 75%;
}

/* Card for the right side of user dashboard */
.card-container > .user-posts-container{
  width: 75%;
  margin: 0% 0% 0% 10%;
}

/* Container for the "Create New Post" Card */
.user-posts-container > .card{
  margin-top: 5%;
  width: 50%;
}

/* Container of the list of user posts */
.user-posts-container > .post-list-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}

/* Container for individual posts */
.post-container{
  width: auto;
  margin-right: auto;
  margin-top: 3%;
  background-color: #DADED4;
  padding: 3%;
}

/* Alert */
.card-container > .alert-container{
  margin-top: 5%;
  margin-bottom: 5px;
  display: inline-block;
}